
.top-heading {
     font-family: 'Bebas Neue', cursive;
     color: white;
     font-weight: 600;
     background: #56c3be6b;
     width: 50%;
     position: relative;
     top: 295px;
     padding: 50px 15px;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

.heading-para-text{
     font-weight: 600;
     background: #56c3be6b;
     padding: 30px 15px;
     text-transform: uppercase;
     color: white;
     width: 70%;
     position: relative;
     top: 42px;
}