.top-contact{
     background: #f3f3f3;
}

.email-contact{
     display: flex;
     align-items: center;
     padding: 4px 0;
     color: gray;
     
}
.icon_wrapper{
     display: flex;
     justify-content:center;
     align-items: center;
}
.i-coustom{
     margin-top: 8px;
     margin-right: 40px;
     font: 22px;
     color: #D7D7D7;
}