h2.place-heading {
     font-family: 'Bebas Neue', cursive;
     text-align: center;
     margin: 55px;
     text-shadow: 3px 5px 4px gainsboro;
 }
 .placeBooking-tour{
      background: #eee;
      padding-top: 40px;
      padding-bottom: 60px;
 }
 .booking-Btn{
      background: #E2CA86;
      border: none;
      outline: none;
      color: #fff;
      font-weight: 600;
      
     
 }

 .booking-form form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }

 .booking-form form input, textarea{
      width: 70%;
      padding: 8px 20px;
      margin: 14px;
 }